In [ ]:
#Q1 Scrape the details of most viewed videos on YouTube from Wikipedia.
#Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
#A)Rank B)Name C)Artist D)Upload date  E)Views

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
#connect to the web driver--------------------------------------------------------------------------------
driver=webdriver.Chrome(r"C:\Users\Asus i3\Downloads\chromedriver_win32.chromedriver.exe")

#connect to https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos--------------------------------------------
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

#length of table-----------------------------------------------------------------------------------------
tot_len=30

#Scrape Rank-------------------------------------------------------------------------------------------------------------
tot_len=30
rank=[]
for i in range(tot_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[' + 
        str(i) + ']/td[1]')
    for element in w:
        rank.append(element.text)
print(rank)

#Scrape Name-------------------------------------------------------------------------------------------------------------
tot_len=30
name=[]
for i in range(tot_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[' + 
        str(i) + ']/td[2]')
    for element in w:
        name.append(element.text)
print(name)

#Scrape Artist-----------------------------------------------------------------------------------------------------------
tot_len=30
artist=[]
for i in range(tot_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[' + 
        str(i) + ']/td[3]')
    for element in w:
        artist.append(element.text)
print(artist)

#Scrape Upload date------------------------------------------------------------------------------------------------------
tot_len=30
upload_date=[]
for i in range(tot_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[' + 
        str(i) + ']/td[5]')
    for element in w:
        upload_date.append(element.text)
print(upload_date)

#Scrape Views in (billions)----------------------------------------------------------------------------------------------
tot_len=30
views=[]
for i in range(tot_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr[' + 
        str(i) + ']/td[4]')
    for element in w:
        views.append(element.text)
print(views)

In [19]:
print(len(rank),len(name),len(artist),len(views),len(upload_date))

30 30 30 30 30

In [27]:
print("-------------------------- Most viewed videos on YouTube from Wikipedia--------------------------------------")
df1=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload Date':upload_date,'Views(in billions)':views})
df1

-------------------------- Most viewed videos on YouTube from Wikipedia--------------------------------------

,Rank,Name,Artist,Upload Date,Views(in billions)
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.98
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.04
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.56
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.88
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.87
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.73
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.07
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.78
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.76
9,10.,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.63
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.17
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.66
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.39
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.30
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

In [17]:
#Q2 Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
#You need to find following details:  A)Match title(I.e. 1st ODI)   B)Series   C)Place   D)Date   E)Time
#Note:- From bcci.tv home page you have reach to the international fixture page through code.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
#connect to the web driver----------------------------------------------------------------------------------
driver=webdriver.Chrome(r"C:\Users\Asus i3\Downloads\chromedriver_win32.chromedriver.exe")

#connect to https://www.bcci.tv/----------------------------------------------------------------------------
driver.get("https://www.bcci.tv/")
time.sleep(4)
#-----------------------------------------------------------------------------------------------------------
click1=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
click1.click()
time.sleep(4)

click2=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div')
click2.click()
time.sleep(3)

click3=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[3]')
click3.click()
time.sleep(3)

click4=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]')
click4.click()
time.sleep(3)

#Scrape Match Title(I.e. 1st ODI)--------------------------------------------------------------------------------------
match_title=[]
try:
    mt=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in mt:
        match_title.append(i.text[0:-1])
except NOSuchElementException:
    match_title.append("-")
print(match_title)

#Scrape Series---------------------------------------------------------------------------------------------------------
series=[]
try:
    se=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in se:
        series.append(i.text)
except NOSuchElementException:
    series.append("-")
print(series)

#Scrape  Place----------------------------------------------------------------------------------------------------------
place=[]
try:
    pl=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
    for i in pl:
        place.append(i.text[:-1])
except NOSuchElementException:
    place.append("-")
print(place)

#Scrape Date------------------------------------------------------------------------------------------------------------
date=[]
try:
    dt=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
    for i in dt:
        date.append(i.text)
except NOSuchElementException:
    date.append("-")
print(date)

#Scrape Time------------------------------------------------------------------------------------------------------------
ti=[]
try:
    tt=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for i in tt:
        ti.append(i.text)
except NOSuchElementException:
    ti.append("-")
print(ti)

In [58]:
print(len(series),len(match_title),len(place),len(date),len(ti))

9 9 9 9 9

In [61]:
print("------------------------India’s international fixtures from bcci.tv.----------------------------")
df2=pd.DataFrame({'Match title(I.e. 1st ODI)':match_title,'Series':series,'Place':place,'Date':date,'Time':ti})
df2

------------------------India’s international fixtures from bcci.tv.----------------------------

,Match title(I.e. 1st ODI),Series,Place,Date,Time
0,1st ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,Barsapara Cricket Stadium,10 JAN 2023,1:30 PM IST
1,2nd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,Eden Gardens,12 JAN 2023,1:30 PM IST
2,3rd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,Greenfield International Stadium,15 JAN 2023,1:30 PM IST
3,1st ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Rajiv Gandhi International Stadium,18 JAN 2023,1:30 PM IST
4,2nd ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Shaheed Veer Narayan Singh International Crick...,21 JAN 2023,1:30 PM IST
5,3rd ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Holkar Cricket Stadium,24 JAN 2023,1:30 PM IST
6,1st ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Wankhede Stadium,17 MAR 2023,1:30 PM IST
7,2nd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,19 MAR 2023,1:30 PM IST
8,3rd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,MA Chidambaram Stadium,22 MAR 2023,1:30 PM IST

In [ ]:
#Q3 Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
#You need to find following details:
#A)Name  B)Description  Note:-From guru99 home page you have to reach to selenium exception handling page through code

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
#connect to the web driver----------------------------------------------------------------------------------
driver=webdriver.Chrome(r"C:\Users\Asus i3\Downloads\chromedriver_win32.chromedriver.exe")

#connect to https://www.guru99.com/----------------------------------------------------------------------------
driver.get("https://www.guru99.com/")
time.sleep(4)

click1=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a")
click1.click()
time.sleep(6)

click2=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong")
click2.click()
time.sleep(6)

In [13]:
#Q4 Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
#You have to find following details:
#A) Rank   B)State   C)GSDP(18-19)-at current prices   D)GSDP(19-20)-at current prices  E)Share(18-19)  F)GDP($ billion)
#Note: - From statisticstimes home page you have to reach to economy page through code.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
#connect to the web driver--------------------------------------------------------------------------------------------
driver=webdriver.Chrome(r"C:\Users\Asus i3\Downloads\chromedriver_win32.chromedriver.exe")

#connect to http://statisticstimes.com/--------------------------------------------------------------------------------
driver.get("http://statisticstimes.com/")
time.sleep(4)

click1=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]")
click1.click()
time.sleep(6)

click2=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
click2.click()
time.sleep(6)

click3=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
click3.click()
time.sleep(6)

#Scrape Rank------------------------------------------------------------------------------------------------------------
total_len=33
ranks=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[' + 
        str(i) + ']/td[1]')
    for element in w:
        ranks.append(element.text)
print(ranks)

#Scrape State------------------------------------------------------------------------------------------------------------
total_len=33
state=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[' + 
        str(i) + ']/td[2]')
    for element in w:
        state.append(element.text)
print(state)

#Scrape GSDP(18-19)-at current prices--------------------------------------------------------------------------------------
total_len=33
gsdp18=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[' + 
        str(i) + ']/td[4]')
    for element in w:
        gsdp18.append(element.text)
print(gsdp18)

#Scrape GSDP(19-20)-at current prices--------------------------------------------------------------------------------------
total_len=33
gsdp19=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[' + 
        str(i) + ']/td[3]')
    for element in w:
        gsdp19.append(element.text)
print(gsdp19)

#Scrape Share(18-19)--------------------------------------------------------------------------------------------------------
total_len=33
share18=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[' + 
        str(i) + ']/td[5]')
    for element in w:
        share18.append(element.text)
print(share18)

#Scrape GDP($ billion)------------------------------------------------------------------------------------------------------
total_len=33
GDP=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[' + 
        str(i) + ']/td[6]')
    for element in w:
        GDP.append(element.text)
print(GDP)

In [28]:
print(len(ranks),len(state),len(gsdp18),len(gsdp19),len(share18),len(GDP))

33 33 33 33 33 33

In [30]:
df4=pd.DataFrame({'Rank':ranks,'State':state,'GSDP(18-19)-at current prices':gsdp18,'GSDP(19-20)-at current prices':gsdp19,'Share(18-19)':share18,'GDP($ billion)':GDP})
print('-----------------------Details of State-wise GDP of India from statisticstime.com---------------------------------------')
df4

-----------------------Details of State-wise GDP of India from statisticstime.com---------------------------------------

,Rank,State,GSDP(18-19)-at current prices,GSDP(19-20)-at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [2]:
#Q5 Scrape the details of trending repositories on Github.com. Url = https://github.com/
#You have to find the following details: A)Repository title   B)Repository description   C)Contributors count   D)Language used
#Note:From the home page you have to click on the trending option from Explore menu through code.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
#connect to the web driver-------------------------------------------------------------------------------------------------
driver=webdriver.Chrome(r"C:\Users\Asus i3\Downloads\chromedriver_win32.chromedriver.exe")

#connect to https://github.com/--------------------------------------------------------------------------------------------
driver.get("https://github.com/")
time.sleep(4)

click1=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
click1.click()
time.sleep(6)

click2=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
click2.click()
time.sleep(6)

#Scrape URL's-------------------------------------------------------------------------------------------------------------
repo_urls=[]
try:
    rurls=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h1/a')
    for i in rurls:
        repo_urls.append(i.get_attribute('href'))
except NoSuchElementException:
    repo_urls.append("-")
print(repo_urls)

#Scrape Repository title---------------------------------------------------------------------------------------------------
repo_title=[]
for i in repo_urls:
    driver.get(i)
    time.sleep(4)
    try:
        aa=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/div/div[1]/div/div/strong/a')
        repo_title.append(aa.text)
    except NoSuchElementException:
        repo_title.append("-")
print(repo_title)

#Scrape Repository description---------------------------------------------------------------------------------------------
repo_desc=[]
for i in repo_urls:
    driver.get(i)
    time.sleep(4)
    try:
        aa=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p')
        repo_desc.append(aa.text)
    except NoSuchElementException:
        repo_desc.append("-")
print(repo_desc)

#Scrape Contributors count ------------------------------------------------------------------------------------------------
contr=[]
for i in repo_urls:
    driver.get(i)
    time.sleep(6)
    try:
        cc=driver.find_element(By.XPATH,'//div[@class="BorderGrid-row"][4]/div/h2/a/span')
        contr.append(cc.text)
    except NoSuchElementException:
        contr.append("-")
print(contr)

#Scrape Language used------------------------------------------------------------------------------------------------------

In [26]:
print(len(repo_urls),len(repo_title),len(repo_desc),len(contr))

25 25 25 25

In [23]:
df5=pd.DataFrame({'Repository Title':repo_title,'Repository Description':repo_desc,'Contributors count':contr})
df5

,Repository Title,Repository Description,Contributors count
0,zlib-searcher,search zlib/libgen index to get ipfs_cid.,10
1,Open-Assistant,OpenAssistant is a chat-based assistant that u...,49
2,awesome-python,"A curated list of awesome Python frameworks, l...",-
3,v2rayNG,"A V2Ray client for Android, support Xray core ...",23
4,nanoGPT,"The simplest, fastest repository for training/...",-
5,exploitation-course,Offensive Software Exploitation Course,-
6,sre-interview-prep-guide,Site Reliability Engineer Interview Preparatio...,-
7,cs-video-courses,List of Computer Science courses with video le...,76
8,hackingtool,ALL IN ONE Hacking Tool For Hackers,-
9,crux-top-lists,Downloadable snapshots of the Chrome Top Milli...,-
10,termux-packages,A build system and primary set of packages for...,-
11,GCPSketchnote,If you are looking to become a Google Cloud En...,2
12,hyper,A terminal built on web technologies,274
13,alist,🗂️A file list program that supports multiple s...,-
14,imgui,Dear ImGui: Bloat-free Graphical User interfac...,-
15,cal.com,Scheduling infrastructure for absolutely every...,-
16,polars,"Fast multi-threaded, hybrid-streaming DataFram...",368
17,docs,The open-source repo for docs.github.com,-
18,gpt_index,An index created by GPT to organize external i...,8
19,OpenBBTerminal,"Investment Research for Everyone, Anywhere.",158
20,docker-minecraft-server,Docker image that provides a Minecraft Server ...,-
21,zustand,🐻 Bear necessities for state management in React,62.2k
22,osv-scanner,Vulnerability scanner written in Go which uses...,15
23,Swiftfin,Native Jellyfin Client for iOS and tvOS,113
24,joplin,Joplin - an open source note taking and to-do ...,513

In [34]:
#Q6 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
#You have to find the following details: A)Song name B)Artist name C)Last week rank D)Peak rank E)Weeks on board
#Note: - From the home page you have to click on the charts option then hot 100-page link through code.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
#connect to the web driver-------------------------------------------------------------------------------------------------
driver=webdriver.Chrome(r"C:\Users\Asus i3\Downloads\chromedriver_win32.chromedriver.exe")

#connect to https:/www.billboard.com/---------------------------------------------------------------------------------------
driver.get("https:/www.billboard.com/")
time.sleep(4)

click1=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]")
click1.click()
time.sleep(6)

click2=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
click2.click()
time.sleep(6)

In [30]:
#Q7)Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
#You have to find the following details: A)Name B)Designation C)Company D)Skills they hire for E)Location
#Note:From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
#connect to the web driver-------------------------------------------------------------------------------------------------
driver=webdriver.Chrome(r"C:\Users\Asus i3\Downloads\chromedriver_win32.chromedriver.exe")

#connect to https://www.naukri.com/--------------------------------------------------------------------------------------------
driver.get("https://www.naukri.com/")
time.sleep(4)

#Enter Data Science 
des=driver.find_element(By.CLASS_NAME,"suggestor-input ")
des.send_keys('Data Science')

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

#Scrape URL's-------------------------------------------------------------------------------------------------------------
urls=[]
try:
    ur=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for i in ur:
        urls.append(i.get_attribute('href'))
except NoSuchElementException:
        urls.append("-")
print(urls)

#Scrape Name----------------------------------------------------------------------------------------------------------------------
name=[]
try:
    nn=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for i in nn:
        name.append(i.text)
except NoSuchElementException:
        name.append("-")
print(name)

#Scrape Designation---------------------------------------------------------------------------------------------------------------- 
desig=[]
try:
    dg=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for i in dg:
        desig.append(i.text.split('-')[0])
except NoSuchElementException:
        desig.append("-")
print(desig)

#Scrape Company--------------------------------------------------------------------------------------------------------------------
comp=[]
try:
    co=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
    for i in co:
        comp.append(i.text)
except NoSuchElementException:
        comp.append("-")
print(comp)

#Scrape Skills they hire for--------------------------------------------------------------------------------------------------------
skills=[]
for i in urls:
    driver.get(i)
    time.sleep(6)
    try:
        sk=driver.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[2]/section[2]/div[4]')
        skills.append(sk.text)
    except NoSuchElementException:
        skills.append("-")
print(skills)

#Scrape Location----------------------------------------------------------------------------------------------------------------
loc=[]
try:
    lo=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
    for i in lo:
        loc.append(i.text)
except NoSuchElementException:
        loc.append("-")
print(loc)

In [46]:
print(len(urls),len(name),len(comp),len(loc),len(desig),len(skills))

20 20 20 20 20 20

In [47]:
df7=pd.DataFrame({'Name':name,'Designation':desig,'Company':comp,'Skills they hire for':skills,'Loaction':loc})
print("-------------------------Details of Data science recruiters from naukri.com-------------------------------------")
df7

-------------------------Details of Data science recruiters from naukri.com-------------------------------------

,Name,Designation,Company,Skills they hire for,Loaction
0,Python - Data Science Analyst,Python,Infosys,-,Bhubaneswar
1,Technology Analyst - Data Science / Machine Le...,Technology Analyst,Infosys,-,Bangalore/Bengaluru
2,Data Analyst - Data Science,Data Analyst,Awign Enterprises,Key Skills\nData ScienceData PipelineDashboard...,Bangalore/Bengaluru
3,Data Science / Lead Data Science / Analytics w...,Data Science / Lead Data Science / Analytics w...,Premier Consultants,Key Skills\nData Science\nLendingdata analytic...,Bangalore/Bengaluru
4,Consultant/Senior Manager - Analytics/Data Sci...,Consultant/Senior Manager,Huquo Consulting Pvt. Ltd,Key Skills\nData Science\nSASPPTMachine Learni...,"Gurgaon/Gurugram, Bangalore/Bengaluru"
5,ACN - Applied Intelligence - Finance - Data Sc...,ACN,Accenture,Key Skills\nComputer scienceData analysisHealt...,Bangalore/Bengaluru
6,ACN - Applied Intelligence - Finance - Data Sc...,ACN,Accenture,Key Skills\nData analysisMachine learningHealt...,Bangalore/Bengaluru
7,Manager- Data Science,Manager,Tredence,Key Skills\ndata scienceMachine LearningPython...,"Hybrid - Pune, Bangalore/Bengaluru, Delhi / NCR"
8,Data Science Analyst,Data Science Analyst,EY Global Delivery Services India Llp,Key Skills\nFMCG MarketingRetail AnalyticsInte...,"Hybrid - Gurgaon/Gurugram, Bangalore/Bengaluru"
9,"SENIOR MANAGER I, DATA SCIENCE","SENIOR MANAGER I, DATA SCIENCE",Walmart,Key Skills\nAutomationData analysisProduction ...,Bangalore/Bengaluru
10,"Senior Manager II, Data Science","Senior Manager II, Data Science",Walmart,Key Skills\nData analysisData managementCoding...,Bangalore/Bengaluru
11,Data Science Professional,Data Science Professional,Infosys,-,Bangalore/Bengaluru
12,Senior Analyst - Data Science,Senior Analyst,Tiger Analytics,Key Skills\ndata scienceProcess documentationS...,Chennai
13,Delivery Head - Analytics & Data Science,Delivery Head,Okda Solutions,Key Skills\nAnalytics\nData ScienceMachine Lea...,Gurgaon/Gurugram
14,Associate Principal - Data Science,Associate Principal,Themathcompany,Key Skills\nSASAssociate Principaldata science...,Bangalore/Bengaluru
15,Data Engineer/data Science Consultant,Data Engineer/data Science Consultant,Career Infosystem,Key Skills\nData Science\nBusiness Intelligenc...,Bangalore/Bengaluru
16,Lead Data Science Engineer - Python/Machine Le...,Lead Data Science Engineer,Huquo Consulting Pvt. Ltd,Key Skills\nPython\nData ScienceMySQLData Mana...,"Hyderabad/Secunderabad, Pune, Chennai, Gurgaon..."
17,Data Science - Contract To Hire,Data Science,Successr Hr Tech,Key Skills\nMatLab\ndata analysisdata miningNo...,Temp. WFH - Bangalore/Bengaluru
18,Data science Architect,Data science Architect,Hucon,Key Skills\nData science\nTensorflowLogistic R...,Bangalore/Bengaluru
19,Data Science| SQL| Python| Visualization - Ana...,Data Science| SQL| Python| Visualization,Samaira Hr Solutions,Key Skills\npythonData Modelingsql\nData Scien...,"Hybrid - Pune, Bangalore/Bengaluru, Mumbai (Al..."

In [49]:
#Q8) Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
#You have to find the following details: A)Book name  B)Author name  C)Volumes sold  D)Publisher  E)Genre
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
#connect to the web driver-------------------------------------------------------------------------------------------------
driver=webdriver.Chrome(r"C:\Users\Asus i3\Downloads\chromedriver_win32.chromedriver.exe")

#connect to https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare----
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(4)

#Scrape Book name--------------------------------------------------------------------------
total_len=100
b_name=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[' + 
        str(i) + ']/td[2]')
    for element in w:
        b_name.append(element.text)
print(b_name)

#Scrape Author name--------------------------------------------------------------------------
total_len=100
auth_name=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[' + 
        str(i) + ']/td[3]')
    for element in w:
        auth_name.append(element.text)
print(auth_name)

#Scrape Voulmes sold--------------------------------------------------------------------------
total_len=100
volum=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[' + 
        str(i) + ']/td[4]')
    for element in w:
        volum.append(element.text)
print(volum)

#Scrape Publisher------------------------------------------------------------------------------
total_len=100
publish=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[' + 
        str(i) + ']/td[5]')
    for element in w:
        publish.append(element.text)
print(publish)

#Scrape Genre-----------------------------------------------------------------------------------
total_len=100
genre=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[' + 
        str(i) + ']/td[6]')
    for element in w:
        genre.append(element.text)
print(genre)

In [56]:
print(len(b_name),len(auth_name),len(volum),len(publish),len(genre))

100 100 100 100

In [60]:
df8=pd.DataFrame({'Book name':b_name,'Author name':auth_name,'Volumes sold':volum,'Publisher':publish,'Genre':genre})
print("----------------------------Details of Highest selling novels--------------------------------------------------")
df8

----------------------------Details of Highest selling novels--------------------------------------------------

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [1]:
#Q9)Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
#You have to find the following details:A)Name  B)Year span C)Genre  D)Run time  E)Ratings   F)Votes
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
#connect to the web driver-------------------------------------------------------------------------------------------------
driver=webdriver.Chrome(r"C:\Users\Asus i3\Downloads\chromedriver_win32.chromedriver.exe")

#connect to  https://www.imdb.com/list/ls095964455/------------------------------------------------------------------------
driver.get(" https://www.imdb.com/list/ls095964455/")
time.sleep(4)

#Scrape Name---------------------------------------------------------------------------------------------------------------
Name=[]
try:
    na=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
    for i in na:
        Name.append(i.text.split('(')[0])
except NoSuchElementException:
        Name.append("-")
print(Name)

#Scrape Year span----------------------------------------------------------------------------------------------------------
year=[]
try:
    ye=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
    for i in ye:
        year.append(i.text.split('(')[1])
except NoSuchElementException:
        year.append("-")
print(year)

#Scrape Genre--------------------------------------------------------------------------------------------------------------
genre=[]
try:
    ge=driver.find_elements(By.XPATH,'//span[@class="certificate"]')
    for i in ge:
        genre.append(i.text)
except NoSuchElementException:
        genre.append("-")
print(genre)

#Scrape Run time-----------------------------------------------------------------------------------------------------------
run_ti=[]
try:
    rt=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in rt:
        run_ti.append(i.text)
except NoSuchElementException:
        run_ti.append("-")
print(run_ti)

#Scrape Ratings-----------------------------------------------------------------------------------------------------------
rating=[]
try:
    rt=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
    for i in rt:
        rating.append(i.text)
except NoSuchElementException:
        rating.append("-")
print(rating)

In [40]:
print(len(Name),len(year),len(genre),len(run_ti),len(rating))

100 100 100 100 100

In [50]:
df9=pd.DataFrame({'Name':Name,'Year span':year,'Genre':genre,'Run time':run_ti,'Ratings':rating})
print("--------------------Details of most watched tv series of all time from imdb.com.--------------------------------------")
df9

--------------------Details of most watched tv series of all time from imdb.com.--------------------------------------

                                   Name   Year span  Genre Run time Ratings
0                   1. Game of Thrones   2011–2019)  TV-MA   57 min     9.2
1                   2. Stranger Things      2016– )  TV-14   51 min     8.7
2                  3. The Walking Dead   2010–2022)  TV-MA   44 min     8.1
3                    4. 13 Reasons Why   2017–2020)  TV-MA   60 min     7.5
4                           5. The 100   2014–2020)  TV-14   43 min     7.6
..                                  ...         ...    ...      ...     ...
95                           96. Reign   2013–2017)  TV-14   42 min     7.4
96  97. A Series of Unfortunate Events   2017–2019)  TV-PG   50 min     7.8
97                  98. Criminal Minds      2005– )  TV-14   42 min     8.1
98           99. Scream: The TV Series   2015–2019)  TV-14   45 min     7.1
99     100. The Haunting of Hill House        2018)  TV-MA  572 min     8.6

[100 rows x 5 columns]

In [52]:
#Q10) Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
#You have to find the following details: A)Dataset name B)Data type C)Task D)Attribute type E)No of instances F)No of attribute G)Year
#Note:from the home page you have to go to the ShowAllDataset page through code.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
#connect to the web driver-------------------------------------------------------------------------------------------------
driver=webdriver.Chrome(r"C:\Users\Asus i3\Downloads\chromedriver_win32.chromedriver.exe")

#connect to   https://archive.ics.uci.edu/---------------------------------------------------------------------------------
driver.get("https://archive.ics.uci.edu/")
time.sleep(4)

se1=driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td/span/b/a")
se1.click()

#Scrape Dataset name-------------------------------------------------------------------------
total_len=622
ds_name=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[' + 
        str(i) + ']/td[1]/table/tbody/tr/td[2]/p/b/a')
    for element in w:
        ds_name.append(element.text)
print(ds_name)

#Scrape Data Type----------------------------------------------------------------------------
total_len=622
dataty=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[' + 
        str(i) + ']/td[2]/p')
    for element in w:
        dataty.append(element.text)
print(dataty)

#Scrape Task------------------------------------------------------------------------
total_len=622
task=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[' + 
        str(i) + ']/td[3]/p')
    for element in w:
        task.append(element.text)
print(task)

#Scrape Attribute type------------------------------------------------------------------------
total_len=622
attri=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[' + 
        str(i) + ']/td[4]/p')
    for element in w:
        attri.append(element.text)
print(attri)

#Scrape No of instances------------------------------------------------------------------------
total_len=622
insta=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[' + 
        str(i) + ']/td[5]/p')
    for element in w:
        insta.append(element.text)
print(insta)

#Scrape No of attribute------------------------------------------------------------------------
total_len=622
att=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[' + 
        str(i) + ']/td[6]/p')
    for element in w:
        att.append(element.text)
print(att)

#Scrape year------------------------------------------------------------------------
total_len=622
year=[]
for i in range(total_len+1):
    w = driver.find_elements(By.XPATH, 
        '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[' + 
        str(i) + ']/td[7]/p')
    for element in w:
        year.append(element.text)
print(year)

In [23]:
print(len(ds_name),len(dataty),len(task),len(attri),len(insta),len(att),len(year))

621 622 622 622 622 622 622

In [32]:
df10=pd.DataFrame({'Data type':dataty,'Task':task,'Attribute type':attri,'No of instances':insta,'No of attribute':att,'Year':year})
print("-------------------Details of Datasets from UCI machine learning repositories-----------------------------")
df10

-------------------Details of Datasets from UCI machine learning repositories-----------------------------

,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...
617,Multivariate,Regression,Integer,35040,11,2020
618,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Multivariate,Classification,"Integer, Real",400,50,2020
620,,Classification,,1014,7,2020
621,"Multivariate, Time-Series",Classification,Real,10129,16,2021