In [3]:
#Install the requests and BeautifulSoup Liararies
!pip install bs4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\asus i3\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)

In [1]:
#importing the required libraries
import requests
from bs4 import BeautifulSoup

In [3]:
# 1) Write a python program to display all the header tags from wikipedia.org

#send the request to the web page server to get the source code of the page

page1=requests.get('https://www.wikipedia.org')
page1

soup1=BeautifulSoup(page1.content)
soup1

# to fetch the header tags
header_tags=soup1.find_all(['h1','h2','h3','h4','h5','h6'])
for i in header_tags:
    print(i)
print('End')

<h1 class="central-textlogo-wrapper">
<span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
Wikipedia
</span>
<strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan">The Free Encyclopedia</strong>
</h1>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000 000+
</bdi>
<span class="jsl10n" data-jsl10n="entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
10 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>
End

In [93]:
# 2)Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make a dataframe

page2=requests.get('https://www.imdb.com/chart/top/')
page2

soup2=BeautifulSoup(page2.content)
soup2

#scrap the names
names=[]

for i in soup2.find_all('td',class_="titleColumn"):
    names.append(i.text[15:-8])
names

#scrap ratings
rate=[]
for i in soup2.find_all('strong'):
    rate.append(i.text)
rate

#scrap year of release
year=[]
for i in soup2.find_all('span',class_="secondaryInfo"):
    year.append(i.text)
year

import pandas as pd
df=pd.DataFrame({'Name':names,'Ratings':rate,'Year of release':year})
df.head(100)

                                   Name Ratings Year of release
0              The Shawshank Redemption     9.2          (1994)
1                         The Godfather     9.2          (1972)
2                       The Dark Knight     9.0          (2008)
3                 The Godfather Part II     9.0          (1974)
4                          12 Angry Men     9.0          (1957)
..                                  ...     ...             ...
95                         Citizen Kane     8.3          (1941)
96    M - Eine Stadt sucht einen Mörder     8.3          (1931)
97                   Lawrence of Arabia     8.3          (1962)
98                   North by Northwest     8.2          (1959)
99                              Vertigo     8.2          (1958)

[100 rows x 3 columns]

In [98]:
# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame
page3=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page3

soup3=BeautifulSoup(page3.content)
soup3

#scrap names
name3=[]
for i in soup3.find_all('td',class_="titleColumn"):
    name3.append(i.text[15:-9])
name3
#scrap ratings
rate3=[]
for i in soup3.find_all('strong'):
    rate3.append(i.text)
rate3
#scrap year of release
year3=[]
for i in soup3.find_all('span',class_="secondaryInfo"):
    year3.append(i.text)
year3

import pandas as pd
df3=pd.DataFrame({'Name':name3,'Ratings':rate3,'Year of Release':year3})
df3.head(100)

                                   Name Ratings Year of Release
0    Ramayana: The Legend of Prince Ram     8.5          (1993)
1             Rocketry: The Nambi Effec     8.4          (2022)
2                                Golmaa     8.4          (1979)
3                            777 Charli     8.4          (2022)
4                                Nayaka     8.4          (1987)
..                                  ...     ...             ...
95                        Kaakkaa Mutta     8.0          (2014)
96                           Ustad Hote     8.0          (2012)
97              Theeran Adhigaaram Ondr     8.0          (2017)
98                                Angoo     8.0          (1982)
99                       Rang De Basant     8.0          (2006)

[100 rows x 3 columns]

In [4]:
# 4) Write a python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm
page4=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
page4

soup4=BeautifulSoup(page4.content)
soup4

#scrap the names
name4m=[]
for i in soup4.find_all('h3'):
    name4m.append(i.text[:-15])
len(name4m)

#scrap the term of office
term4=[]
for i in soup4.find_all('p'):
    term4.append(i.text[15:])
term4

#import pandas as pd
#df4=pd.DataFrame({'Name':name4m,'Term of Office':term4})
#df4

[' 25 July, 2017 to 25 July, 2022 ',
 'kovind.nic.in',
 ' 25 July, 2012 to 25 July, 2017 ',
 'kherjee.nic.in',
 ' 25 July, 2007 to 25 July, 2012 ',
 'patil.nic.in',
 ' 25 July, 2002 to 25 July, 2007 ',
 'am.nic.in',
 ' 25 July, 1997 to 25 July, 2002 ',
 ' 25 July, 1992 to 25 July, 1997 ',
 ' 25 July, 1987 to 25 July, 1992 ',
 ' 25 July, 1982 to 25 July, 1987 ',
 ' 25 July, 1977 to 25 July, 1982 ',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962',
 '2 The Rashtrapati Bhavan.',
 'ed on: 22-July-2022 15:58 PM\n',
 "ed by National Informatics Centre. Website Content provided by the President's Secretariat."]

In [20]:
# 5 a)Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#b) Top 10 ODI Batsmen along with the records of their team and rating.
#c) Top 10 ODI bowlers along with the records of their team and rating.

page5=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page5

soup5=BeautifulSoup(page5.content)
soup5

#scrap the top 10 ODI teams in men's Cricket
teams5=[]
for i in soup5.find_all('span',class_="u-hide-phablet"):
    teams5.append(i.text)
teams5
#print("The length=",len(teams5))

#scrap matches records
mrec=[]
for j in soup5.find_all('td',class_="rankings-block__banner--matches"):
    mrec.append(j.text)
mrec

#scrap points records
pts=[]
for k in soup5.find_all('td',class_=""):
    pts.append(k.text)
pts

#scrap ratings records
rr=[]
for l in soup5.find_all('td',class_=""):
    rr.append(l.text)
rr

[]

In [70]:
#5 b)
page5b=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page5b
soup5b=BeautifulSoup(page5b.content)
soup5b

#scrap Top 10 ODI Batsmen along with the records of their team and rating.
nn=[]
for i in soup5b.find_all('td',class_="table-body__cell rankings-table__name name"):
    nn.append(i.text[1:-1])
nn

#scrap team
tt=[]
for j in soup5b.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    tt.append(j.text[2:-1])
tt

#scrap rating
rr=[]
for k in soup5b.find_all('td',class_="table-body__cell rating"):
    rr.append(k.text)
rr

import pandas as pd
df5b=pd.DataFrame({'Batsmen':nn,'Team':tt,'Rating':rr})
df5b.head(10)

                 Batsmen Team Rating
0            Imam-ul-Haq  PAK    779
1  Rassie van der Dussen   SA    766
2        Quinton de Kock   SA    759
3           David Warner  AUS    747
4            Steve Smith  AUS    719
5         Jonny Bairstow  ENG    710
6            Virat Kohli  IND    707
7           Rohit Sharma  IND    704
8        Kane Williamson   NZ    701
9           Fakhar Zaman  PAK    690

In [13]:
# 5 c) Top 10 ODI bowlers along with the records of their team and rating.
page5c=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/all-time-bowling")
page5c

soup5c=BeautifulSoup(page5c.content)
soup5c

#scrap ODI bowlers
bb=[]
for i in soup5c.find_all('td',class_="table-body__cell rankings-table__name name"):
    bb.append(i.text)
bb
#scrap teams
t=[]
for j in soup5c.find_all('td',class_="table-body__cell nationality-logo rankings-table__team"):
    t.append(j.text[3:-1])
t
#scrap ratings
rr=[]
for k in soup5c.find_all('td',class_="table-body__cell rating"):
    rr.append(k.text)
rr

import pandas as pd
df5c=pd.DataFrame({'Bowlers Names':bb,'Teams':t,'})
df5c

        Bowlers Names Teams
0      Josh Hazlewood    US
1      Mitchell Starc    US
2      Shaheen Afridi    AK
3          Matt Henry     Z
4          Adam Zampa    US
5        Mehedi Hasan    AN
6    Mujeeb Ur Rahman    FG
7   Mustafizur Rahman    AN
8         Rashid Khan    FG
9        Chris Woakes    NG
10      Mohammad Nabi    FG
11       Andy McBrine    RE
12     Jasprit Bumrah    ND
13      Kagiso Rabada     A
14    Shakib Al Hasan    AN
15        Pat Cummins    US
16     Alzarri Joseph     I
17   Mitchell Santner     Z
18        Lungi Ngidi     A

In [48]:
# 8)Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
# https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
#Scrape below mentioned details :i) Paper Title ii) Authors iii) Published Date iv) Paper URL
page8=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
page8

soup8=BeautifulSoup(page8.content)
soup8

#scrap paper title
tit=[]
for i in soup8.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    tit.append(i.text)
tit

#scrap Authors
auth=[]
for j in soup8.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    auth.append(j.text)
auth

#scrap published date
pud=[]
for k in soup8.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    pud.append(k.text)
pud

#scrap paper url
url=[]
for l in soup8.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    url.append(l.get('href'))
url

import pandas as pd
df8=pd.DataFrame({'Paper Title':tit,'Authors':auth,'Published Date':pud,'Paper URL':url})
df8

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [72]:
# 7)Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world : Headline,Time,News Link

page7=requests.get("https://www.cnbc.com/world/?region=world")
page7

soup7=BeautifulSoup(page7.content)
soup7

#scrap Headline

hl=[]
for i in soup7.find_all('a',class_="LatestNews-headline"):
    hl.append(i.text)
hl

#scrap time
tim=[]
for j in soup7.find_all('time',class_="LatestNews-timestamp"):
    tim.append(j.text)
tim

#scrap News Link
lin=[]
for k in soup7.find_all('a',class_="LatestNews-headline"):
    lin.append(k.get('href'))
lin

import pandas as pd
df7=pd.DataFrame({'Headline':hl,'Time':tim,'News Link':lin})
df7

,Headline,Time,News Link
0,The 10 countries with the least paid vacation—...,3 Hours Ago,https://www.cnbc.com/2022/12/04/the-10-countri...
1,"Michigan couple makes $9,000/mo teaching peopl...",4 Hours Ago,https://www.cnbc.com/2022/12/04/michigan-coupl...
2,These 10 cars have the greatest potential life...,4 Hours Ago,https://www.cnbc.com/2022/12/04/these-10-cars-...
3,Startup backed by Tesla investor promises $300...,4 Hours Ago,https://www.cnbc.com/2022/12/04/alef-aeronauti...
4,Manufacturing orders from China down 40% in de...,5 Hours Ago,https://www.cnbc.com/2022/12/04/manufacturing-...
5,Death of the internal combustion engine — Cowe...,5 Hours Ago,https://www.cnbc.com/2022/12/04/death-of-the-i...
6,"These stocks are cheap heading into 2023, and ...",5 Hours Ago,https://www.cnbc.com/2022/12/04/these-stocks-a...
7,Who will be Disney's next CEO? Here are the to...,5 Hours Ago,https://www.cnbc.com/2022/12/04/disney-ceo-top...
8,Study: exercise may increase the effectiveness...,5 Hours Ago,https://www.cnbc.com/2022/12/04/study-exercise...
9,OPEC+ agrees to stick to its existing policy o...,6 Hours Ago,https://www.cnbc.com/2022/12/04/opec-meeting-o...
10,Parking lots are becoming as important as cars...,"December 3, 2022",https://www.cnbc.com/2022/12/03/parking-lots-b...
11,Amazon's cloud unit faces cost-sensitive custo...,"December 3, 2022",https://www.cnbc.com/2022/12/03/aws-faces-cost...
12,Don’t overlook this health warning on your dec...,"December 3, 2022",https://www.cnbc.com/2022/12/03/dont-overlook-...
13,How electric air taxis could shake up the airl...,"December 3, 2022",https://www.cnbc.com/2022/12/03/how-electric-a...
14,I raised 2 successful CEOs and a doctor. Here'...,"December 3, 2022",https://www.cnbc.com/2022/12/03/i-raised-2-suc...
15,Delta pilots would get more than 30% in pay ra...,"December 3, 2022",https://www.cnbc.com/2022/12/03/delta-pilots-w...
16,Men participate less in 401(k) plans than wome...,"December 3, 2022",https://www.cnbc.com/2022/12/03/men-participat...
17,The best U.S. states to raise a family if you ...,"December 3, 2022",https://www.cnbc.com/2022/12/03/best-states-ra...
18,Susan Cain: This Bob Dylan-inspired phrase can...,"December 3, 2022",https://www.cnbc.com/2022/12/03/bestselling-au...
19,The difference between this comeback and the m...,"December 3, 2022",https://www.cnbc.com/2022/12/03/the-difference...
20,Goldman says buy these five stocks for the lon...,"December 3, 2022",https://www.cnbc.com/2022/12/03/goldman-says-b...
21,Celsius users with crypto collateral stuck tur...,"December 3, 2022",https://www.cnbc.com/2022/12/03/celsius-users-...
22,Cramer's lightning round: Let Extreme Networks...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-lightn...
23,Jim Cramer says these 3 apparel stocks benefit...,"December 2, 2022",https://www.cnbc.com/2022/12/02/jim-cramer-say...
24,Cramer’s week ahead: Markets need a strong job...,"December 2, 2022",https://www.cnbc.com/2022/12/02/cramers-week-a...
25,Pro Picks: Watch all of Friday's big stock cal...,"December 2, 2022",https://www.cnbc.com/2022/12/02/pro-picks-watc...
26,"There is 'enormous opportunity' in REITs, says...","December 2, 2022",https://www.cnbc.com/2022/12/02/reits-offer-en...
27,Biden administration will end monkeypox public...,"December 2, 2022",https://www.cnbc.com/2022/12/02/biden-administ...
28,Expect more choppiness ahead after a week of m...,"December 2, 2022",https://www.cnbc.com/2022/12/02/expect-more-ch...
29,"GM, LG investing $275 million to expand Tennes...","December 2, 2022",https://www.cnbc.com/2022/12/02/gm-lg-investin...

In [38]:
# 9) Write a python program to scrape mentioned details from dineout.co.in :i)Restaurant name ii)Cuisine iii)Location iv)Ratings v)Image URL
page9=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page9

soup9=BeautifulSoup(page9.content)
soup9

#scrap Restaurant name
names9=[]
for i in soup9.find_all('div',class_="restnt-info cursor"):
    names9.append(i.text)
names9
#scrap Cuisune
cur=[]
for j in soup9.find_all('span',class_="double-line-ellipsis"):
    cur.append(j.text.split('|')[1])
cur
#scrap Location
loc=[]
for k in soup9.find_all('div',class_="restnt-loc ellipsis"):
    loc.append(k.text)
loc

#scrap ratings
rate=[]
for l in soup9.find_all('div',class_="restnt-rating rating-4"):
    rate.append(l.text)
rate

#scrap image URL
img=[]
for m in soup9.find_all('img',class_="no-img"):
    img.append(m.get('data-src'))    
img

import pandas as pd
df9=pd.DataFrame({'Resturant Name':names9,'Cuisine':cur,'Location':loc,'Ratings':rate,'Image URL':img})
df9

,Resturant Name,Cuisine,Location,Ratings,Image URL
0,"Castle BarbequeConnaught Place, Central Delhi","Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...",North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

In [58]:
#10) Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en 
# Rank, Publication, h5-index, h5-median
page10=requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
page10

soup10=BeautifulSoup(page10.content)
soup10

#scrap the rank
rank10=[]
for i in soup10.find_all('td',class_="gsc_mvt_p"):
    rank10.append(i.text)
rank10

#scrap multiple publication names
name10m=[]
for j in soup10.find_all('td',class_="gsc_mvt_t"):
    name10m.append(j.text)
name10m

#scrap h5-index
index10=[]
for k in soup10.find_all('td',class_="gsc_mvt_n"):
    index10.append(k.text)
index10

#scrap h5-median
med10=[]
for l in soup10.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    med10.append(l.text)
med10


import pandas as pd
df=pd.DataFrame({'Rank':rank10,'Publication':name10m,'h5-median':med10})
df

    Rank                                        Publication h5-median
0     1.                                             Nature       667
1     2.                The New England Journal of Medicine       780
2     3.                                            Science       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...       627
4     5.                                         The Lancet       635
..   ...                                                ...       ...
95   96.                       Journal of Business Research       233
96   97.                                   Molecular Cancer       209
97   98.                                            Sensors       201
98   99.                              Nature Climate Change       228
99  100.                    IEEE Internet of Things Journal       212

[100 rows x 3 columns]